

 body { margin: 80px; width: 700px;}


body div.scratch {
  font-family: sans-serif;
}

div.scratch img.topp-logo {   display: block;   margin-left: auto;   margin-right: auto; }


div.scratch h1.nivaa1
{
  background-color: #A9DAF9;
  color: white;
  margin-top: 2em;
  margin-bottom: 2.5em;
  height: 2.2em;
  padding-top: 0.8em;
}


div.scratch h1.nivaa2
{
  background-color: #A9DAF9;
  color: white;
  margin-top: 2em;
  margin-bottom: 2.5em;
  height: 2.2em;
  padding-top: 0.8em;
}


div.scratch h1.nivaa3
{
  background-color: #A9DAF9;
  color: white;
  margin-top: 2em;
  margin-bottom: 2.5em;
  height: 2.2em;
  padding-top: 0.8em;
}

div.scratch h1.nivaa1:before
{
  content: "Nivå 1";
  float: left;
  background-color: #19A347;
  color: white;
  margin-top: -2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1.8em;
  height: 3.2em;
  width: 5em;
  text-align: center;
  vertical-align: center;
  border-radius: 15px; 
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  border: 3px solid white;
}

div.scratch h1.nivaa2:before
{
  content: "Nivå 2";
  float: left;
  background-color: #19A347;
  color: white;
  margin-top: -2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1.8em;
  height: 3.2em;
  width: 5em;
  text-align: center;
  vertical-align: center;
  border-radius: 15px; 
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  border: 3px solid white;
}

div.scratch h1.nivaa3:before
{
  content: "Nivå 3";
  float: left;
  background-color: #19A347;
  color: white;
  margin-top: -2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1.8em;
  height: 3.2em;
  width: 5em;
  text-align: center;
  vertical-align: center;
  border-radius: 15px; 
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  border: 3px solid white;
}

.clearfix:after
{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*MON: hvordan i all verden kan man få venstrejustert denne? float funker ikke*/
table.oversikt
{
  margin: 1em auto;
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 1em;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
}

table td
{
  padding: 0em;
}

/*MON: Til bruk som tom tegnerute i Lag ditt eget spill  */
table.tom
{
	width: 100%;
  margin: 1em auto;
  border: solid 2px #19A347;
  padding: 1em;
  border-radius: 8px; 
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px;
}



/*Til innledningstekstene på veiledningene*/
p.intro {
	font-weight: bold;
}

/*Til avslutningskommentarene på veiledningene.*/
p.utro {
	font-weight: bold;
}

div.scratch .sjekkliste {
line-height:100px;
  background-image: url(../images/sjekkliste-symbol.png);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 60px;
  font-weight: bold;
  font-size: 1.5em;
  color: #ECA320;

}

div.scratch .test {
line-height:100px;
  background-image: url(../images/test-symbol.png);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 60px;
  font-weight: bold;
  font-size: 1.5em;
  color: #36A037;
}

div.scratch .lagre {
	line-height:100px;
  background-image: url(../images/lagre-symbol.png);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 60px;
  font-weight: bold;
  font-size: 1.5em;
  color: #235A99;;
}


div.scratch .prove {
	line-height:100px;
  background-image: url(../images/prove-symbol.png);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 60px;
  font-weight: bold;
  font-size: 1.5em;
  color: #grey;;
}


/* MON: Brukes alle referanser til ting som skal klikkes på i Scratch. F.eks. "
Riktig bakgrunn får du ved å velge %(klikk)Scene%, trykke på %(klikk)Bakgrunner% og deretter %(klikk)Importere% bakgrunnen %(klikk)woods%, som ligger i %(klikk)Nature% -mappen.

Merk: Gjengivelse av kodeblokker gjøres med egne elementer (se span.styring, span.bevegelse, etc)*/

div.scratch span.klikk {
  font-weight: normal;
  color: white;
  background-color: #989898;
  padding: 2px;
/*  text-decoration: underline;*/
}

/*MON: De følgende åtte klassene er til gjengivelse av de ulike kodeblokkene i Scratch. Det hadde vært fint om det kunne legges inn at disse ikke skal avbrytes av linjeskift, hvis det går an. Et annet problem er at   */
div.scratch span.styring {
  color: white;
  background-color: #F9A600;
  padding: 2px;
}

div.scratch span.bevegelse {
  color: white;
  background-color: #2973D7;
  padding: 2px;
}

div.scratch span.lyd {
  color: white;
  background-color: #E950D8;
  padding: 2px;
}

div.scratch span.penn {
  color: white;
  background-color: #00A37A;
  padding: 2px;
}

div.scratch span.utseende {
  color: white;
  background-color: #9b5FE6;
  padding: 2px;
}

div.scratch span.sansning {
  color: white;
  background-color: #009ADF;
  padding: 2px;
}

div.scratch span.operator {
  color: white;
  background-color: #00C200;
  padding: 2px;
}

div.scratch span.variabel {
  color: white;
  background-color: #FF7200;
  padding: 2px;
}


div.scratch li {
  padding: 2px;
  margin-bottom: 2px;
}

/*MON: for lister med avhukingsbokser. Et problem som må løses er at rutene ikke legger seg likt fra punkt til punkt (de blir dyttet rundt av teksten, virker det som) */
div.scratch .x li:after
{
  float: right;
  content: url('../images/sjekkrute.png');
}

div.scratch h2 {
  font-style: bold;
}

/*MON: denne skal være litt mindre enn h2*/
div.scratch h3 {
  font-style: bold;
}


/* MON: Denne brukes til "Steg"-overskriftene i veiledningene. Burde kanskje hatt endel luft over seg for å markere overgangen til nytt "kapittel"? */
div.scratch .steg {
  /*line-height:100px;*/
  background-color: #19A347;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
}


div.scratch .utfordring {
  background-color: #19A347;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  
 background-image: url(../images/utfordring-symbol.png);
  background-repeat: no-repeat;
  padding-right: 20px;
    padding-left: 55px;
}

/* MON: Vet ikke helt hva denne er ment til
div.scratch h4 {
  padding-top: 10px;
  color: darkgrey;
  font-style: italic;
} */


/* MON: De følgende tre elementene (tab, knapp og palett)er erstattet av elementet span.klikk */
div.scratch span.tab {
  font-weight: bold;
  color: #4D5353;
  background-color: #AED9A6;
  padding: 2px;
}

div.scratch span.knapp {
  font-weight: bold;
  background-color: #EFEFEF;
  padding: 2px;
}

div.scratch span.palett {
  font-weight: bold;
  color: white;
  background-color: #848B8F;
  padding: 2px;
}

div.scratch img.skript {
margin: 1em auto;
  padding: 1em;
  border: solid 1px #ccc;
  background-color: #eee;
}


/*MON: i originalversjonen hadde disse bildene avrunda hjørner og gul ramme.*/
div.scratch img.skjermbilde {
  margin: 1em auto;
  padding: 1em;
  border: solid 1px #ccc;
  background-color: #eee;
}

/*MON: disse bildene er såpass store at de bør ha linjeskift først. I originalversjonen har de avrunda hjørner og gul ramme.*/

div.scratch img.systemutsnitt {
  margin: 1em auto;
  padding: 1em;
  border: solid 1px #ccc;
  background-color: #eee;
}

/*MON: disse bildene er så små at de kanskje kan vises på samme linje som teksten, men når man bruker float: right kommer det i konflikt med avhukingsrutene*/
div.scratch img.systemdetalj {

}