body div.scratch {
  font-family: sans-serif;
}

div.scratch h1.nivaa1
{
  background-color: #BBE6FB;
  color: white;
  margin-top: 2em;
  margin-bottom: 2.5em;
  height: 2.2em;
  padding-top: 0.8em;
}

div.scratch h1.nivaa1:before
{
  content: "Nivå 1";
  float: left;
  background-color: #4CAF53;
  color: white;
  margin-top: -2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1.8em;
  height: 3.2em;
  width: 5em;
  text-align: center;
  vertical-align: center;
  border-radius: 15px; 
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  border: 3px solid white;
}

div.scratch h1.nivaa2:before
{
  content: "Nivå 2";
  float: left;
  background-color: #4CAF53;
  color: white;
  margin-top: -2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1.8em;
  height: 3.2em;
  width: 5em;
  text-align: center;
  vertical-align: center;
  border-radius: 15px; 
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  border: 3px solid white;
}

div.scratch h1.nivaa3:before
{
  content: "Nivå 3";
  float: left;
  background-color: #4CAF53;
  color: white;
  margin-top: -2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1.8em;
  height: 3.2em;
  width: 5em;
  text-align: center;
  vertical-align: center;
  border-radius: 15px; 
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  border: 3px solid white;
}

.clearfix:after
{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

table.oversikt
{
  margin: 1em auto;
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 1em;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
}

table td
{
  padding: 1em;
}

div.scratch .sjekkliste {
  background-image: url(../images/sjekkliste-symbol.png);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 60px;
  font-weight: bold;
  font-size: 1.5em;
  color: #ECA320;
}

div.scratch .test {
  background-image: url(../images/test-symbol.png);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 60px;
  font-weight: bold;
  font-size: 1.5em;
  color: #36A037;
}

div.scratch .lagre {
  background-image: url(../images/lagre-symbol.png);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 60px;
  font-weight: bold;
  font-size: 1.5em;
  color: #235A99;;
}

/* MON: Brukes for de abstrakte beskrivelsene av hva som skal gjøres. F.eks. "Legg til flere figurer" */
div.scratch span.instruksjon {
  font-weight: bold;
}

div.scratch span.systemvalg {
  text-decoration: underline;
}
/* MON: Brukes for de konkrete beskrivelsene av hva som skal gjøres i Scratch. F.eks. "
Riktig bakgrunn får du ved å velge %(systemvalg)Scene%, trykke på %(systemvalg)Bakgrunner% og deretter %(systemvalg)Importere% bakgrunnen %(systemvalg)woods%, som ligger i %(systemvalg)Nature% -mappen.

Merk: Gjengivelse av kodeblokker gjøres med egne elementer */

div.scratch span.styring {
  font-weight: bold;
  color: white;
  background-color: #F9A600;
  padding: 2px;
}

div.scratch span.bevegelse {
  font-weight: bold;
  color: white;
  background-color: #2973D7;
  padding: 2px;
}

div.scratch span.lyd {
  font-weight: bold;
  color: white;
  background-color: #E950D8;
  padding: 2px;
}

div.scratch span.penn {
  font-weight: bold;
  color: white;
  background-color: #00A37A;
  padding: 2px;
}

div.scratch span.utseende {
  font-weight: bold;
  color: white;
  background-color: #9b5FE6;
  padding: 2px;
}

div.scratch span.sansning {
  font-weight: bold;
  color: white;
  background-color: #009ADF;
  padding: 2px;
}

div.scratch span.operator {
  font-weight: bold;
  color: white;
  background-color: #00C200;
  padding: 2px;
}

div.scratch span.variabel {
  font-weight: bold;
  color: white;
  background-color: #FF7200;
  padding: 2px;
}

div.scratch li {
  padding: 2px;
  margin-bottom: 2px;
}


div.scratch h2 {
  font-style: bold;
}

/*denne skal være litt mindre enn h2*/
div.scratch h3 {
  font-style: bold;
}


/* MON: Denne brukes til "Steg"-overskriftene i veiledningene. Burde kanskje hatt endel luft over seg for å markere overgangen til nytt "kapittel"? */
div.scratch .steg {
  background-color: #329738;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
}



/* MON: Vet ikke helt hva denne er ment til
div.scratch h4 {
  padding-top: 10px;
  color: darkgrey;
  font-style: italic;
} */

/* MON: Usikker på hva denne er ment til. Vet heller ikke hvordan man koder i textile for å bruke den*/
div.scratch h4 + ul {
  color: darkgrey;
  font-style: italic;
}

/* MON: Litt usikker på hva denne er ment til */
div.scratch p.define {
  font-family: monospace;
}



/* MON: De følgende tre elementene (tab, knapp og palett)er erstattet av elementet span.systemvalg */
div.scratch span.tab {
  font-weight: bold;
  color: #4D5353;
  background-color: #AED9A6;
  padding: 2px;
}

div.scratch span.knapp {
  font-weight: bold;
  background-color: #EFEFEF;
  padding: 2px;
}

div.scratch span.palett {
  font-weight: bold;
  color: white;
  background-color: #848B8F;
  padding: 2px;
}

div.scratch img.skript {
  display: block;
  margin: 1em auto;
  padding: 2em;
  border: solid 1px #ccc;
  background-color: #eee;
}


/* MON: ELEMENTER SOM MANGLER

BILDER: (merket slik i textile: !(elementnavn)bildeurl!)
skjermbilde - i originalversjonen hadde denne avrunda hjørner og gul ramme.
img.
systemdetalj - disse bildene er så små at de kanskje kan vises på samme linje som teksten
systemutsnitt - disse er såpass store at de bør ha linjeskift først. I originalversjonen har de avrunda hjørner og gul ramme.
sjekkrute - bare aktuell for sjekkrutene hvor man skal huke av underveis. Denne kan kanskje legges inn på en slik måte at man slipper å oppgi bilde-URL-en hele tida?

TEKST
p.intro - introduksjonnssnuttene (brukt bl.a. etter hvert steg i veiledningene)
p.utro - avslutningskommentarer
span.prove - det bør lages en overskrifttype for "Ting du kan prøve" som står i stil med overskriftene for "Sjekkliste", "Test prosjektet" og "Lagre prosjektet". Kanskje med et lyspæresymbol, elns?
h1(nivaa1)(nivaa2) og (nivaa3) - Hovedoverskriften for dokumentet er i originalversjonen bakt sammen med logoen for kodeklubben (til høyre) og nivåangivelse  (til venstre). Dette kan kanskje løses med ulike klasser for nivå1, 2 og 3?
h4(utfordring) - I veiledningene er de siste "kapitlene" listet under overskriftene "Utfordring". Disse kan enten ha eget design (som i originalen) eller så kan de se likedan ut som h4(steg) - men da må vi legge inn "En ekstra utfordring:" i starten av overskriften.

TABELLER
Jeg har lagt inn masse innhold i tabeller, selv om dette sikkert er fyfy. Det er gjort fordi  mesteparten av innholdet består av innhold som layoutmessig bør ligge i tre kolonner. I første kolonne et nummer, i andre tekst og bildeinstruksjoner og i den siste en sjekkrute som kan hukes av. Dette kan kanskje ordnes med et fancy ol-element isteden? Jeg oppdaterer gjerne textile-koden hvis dette kan fikses.    

For enkelhets skyld har jeg ikke klassifisert disse tabellene med noe eget elementnavn. Men tabellen i toppen av veiledningsdokumentene (den som viser en oversikt over Sjekkliste, Test og Lagre) har er merket table(oversikt).

*/
